/* HEADER */
.header {
  flex-grow: 1;
}

.header .title {
  flex-grow: 1;
}

.header .logo {
  text-decoration: none;
  color: #fff;
}

.header .logo:hover {
  text-decoration: none;
  color: #ccc;
  width: 50px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 200px;
  background-color: #f4f4f4;
  height: 100vh;
}

/* CONTAINER */
.container {
  margin-top: 60px;
  margin-left: 200px;
  padding: 10px;
}

/* utils */
.align-right {
  text-align: right;
  padding: 10px;
}

/* form */
.form-wrap {
  margin: auto;
  width: 300px;
}

.form-group {
  padding: 10px;
  text-align: center;
}

.form-group:last-child {
  padding-bottom: 25px;
  text-align: center;
}

/* dashboard */
.graph {
  max-width: 700px;
  max-height: 450px;
  margin: auto;
}

.rent-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.not-returned {
  color: #d00707;
  font-weight: bold;
}
